body {
  margin: 0;
  background-color: #646262;
 

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.nav-list {
  list-style: none;
   display: flex;
 
}
